Repository microsoft/VFSForGit, pull requests merged in 2018-08, with the labels that each got.

#156 Mac: File modified notifications
  GVFS/GVFS.Common/NamedPipes/StreamWriterExtensions.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/GitFilesTests.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/WorkingDirectoryTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/AddStageTests.cs
  GVFS/GVFS.FunctionalTests/Tools/GVFSFunctionalTestEnlistment.cs
  GVFS/GVFS.Hooks/GVFS.Hooks.Mac.csproj
  GVFS/GVFS.Hooks/GVFS.Hooks.Windows.csproj
  GVFS/GVFS.Platform.Mac/MacFileSystemVirtualizer.cs
  GVFS/GVFS.Virtualization/FileSystemCallbacks.cs
  MirrorProvider/MirrorProvider.Mac/MacFileSystemVirtualizer.cs
  MirrorProvider/MirrorProvider.Windows/WindowsFileSystemVirtualizer.cs
  ProjFS.Mac/PrjFSKext/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSKext/PrjFSKext/VirtualizationRoots.cpp
  ProjFS.Mac/PrjFSKext/public/Message.h
  ProjFS.Mac/PrjFSLib.Mac.Managed/CallbackDelegates.cs
  ProjFS.Mac/PrjFSLib.Mac.Managed/Interop/Callbacks.cs
  ProjFS.Mac/PrjFSLib.Mac.Managed/Interop/PrjFSLib.cs
  ProjFS.Mac/PrjFSLib.Mac.Managed/PrjFSLib.Mac.Managed.csproj
  ProjFS.Mac/PrjFSLib.Mac.Managed/VirtualizationInstance.cs
  ProjFS.Mac/PrjFSLib/PrjFSLib.cpp
Labels: Mac: kernel extension, Mac: user mode

#158 Mac: prjfs-log improvements
  ProjFS.Mac/PrjFS.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  ProjFS.Mac/PrjFS.xcworkspace/xcshareddata/xcschemes/PrjFS.xcscheme
  ProjFS.Mac/PrjFSKext/PrjFSKext/KextLog.cpp
  ProjFS.Mac/PrjFSKext/PrjFSKext/KextLog.hpp
  ProjFS.Mac/PrjFSLib/prjfs-log/prjfs-log.cpp
Labels: Mac: kernel extension, Mac: user mode

#173 Add FileOp specific ShouldHandleFileOpEvent helper to kext
  ProjFS.Mac/PrjFSKext/PrjFSKext/KauthHandler.cpp
Labels: Mac: kernel extension

#179 Fix test reliability issues with checks in GetObjectRoot
  GVFS/GVFS.FunctionalTests/Should/FileSystemShouldExtensions.cs
  GVFS/GVFS.FunctionalTests/Tools/GVFSFunctionalTestEnlistment.cs
  GVFS/GVFS.Tests/Should/EnumerableShouldExtensions.cs
Labels: test reliability

#172 GitStatusCache: fix race condition in test setup
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/StatusTests.cs
Labels: test reliability

#181 Mac: Add PreDelete Notification
  GVFS/GVFS.FunctionalTests/Categories.cs
  GVFS/GVFS.FunctionalTests/Program.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/GitFilesTests.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/GitMoveRenameTests.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/MoveRenameFileTests.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/MoveRenameFileTests_2.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/MoveRenameFolderTests.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/WorkingDirectoryTests.cs
  GVFS/GVFS.FunctionalTests/Tools/GVFSHelpers.cs
  GVFS/GVFS.Platform.Mac/MacFileSystemVirtualizer.cs
  GVFS/GVFS.Platform.Windows/WindowsFileSystemVirtualizer.cs
  GVFS/GVFS.Virtualization/FileSystem/FileSystemVirtualizer.cs
  MirrorProvider/MirrorProvider.Mac/MacFileSystemVirtualizer.cs
  MirrorProvider/MirrorProvider.Windows/WindowsFileSystemVirtualizer.cs
  ProjFS.Mac/PrjFSKext/PrjFSKext.xcodeproj/project.pbxproj
  ProjFS.Mac/PrjFSKext/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSKext/PrjFSKext/Message_Kernel.cpp
  ProjFS.Mac/PrjFSKext/public/Message.h
  ProjFS.Mac/PrjFSLib.Mac.Managed/VirtualizationInstance.cs
  ProjFS.Mac/PrjFSLib/PrjFSLib.cpp
Labels: Mac: kernel extension, Mac: user mode

#194 [M139 Port] Fix test reliability issues with checks in GetObjectRoot
  GVFS/GVFS.FunctionalTests/Should/FileSystemShouldExtensions.cs
  GVFS/GVFS.FunctionalTests/Tools/GVFSFunctionalTestEnlistment.cs
  GVFS/GVFS.Tests/Should/EnumerableShouldExtensions.cs
Labels: test reliability

#191 Mac: New file created notification
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/GitFilesTests.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/GitMoveRenameTests.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerTestCase/PersistedModifiedPathsTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/AddStageTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/GitCommandsTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/HashObjectTests.cs
  GVFS/GVFS.Platform.Mac/MacFileSystemVirtualizer.cs
  MirrorProvider/MirrorProvider.Mac/MacFileSystemVirtualizer.cs
  MirrorProvider/MirrorProvider.Windows/WindowsFileSystemVirtualizer.cs
  ProjFS.Mac/PrjFSKext/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSKext/public/Message.h
  ProjFS.Mac/PrjFSLib.Mac.Managed/VirtualizationInstance.cs
  ProjFS.Mac/PrjFSLib/PrjFSLib.cpp
Labels: Mac: kernel extension, Mac: user mode

#203 Hardlink notifications on Mac & Windows and rename notifications on Mac
  GVFS/GVFS.Common/FileSystem/IPlatformFileSystem.cs
  GVFS/GVFS.Common/NativeMethods.cs
  GVFS/GVFS.FunctionalTests/FileSystemRunners/BashRunner.cs
  GVFS/GVFS.FunctionalTests/FileSystemRunners/CmdRunner.cs
  GVFS/GVFS.FunctionalTests/FileSystemRunners/FileSystemRunner.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/GitFilesTests.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/GitMoveRenameTests.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/MoveRenameFileTests.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/MoveRenameFileTests_2.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/AddStageTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/GitRepoTests.cs
  GVFS/GVFS.Platform.Mac/MacFileSystemVirtualizer.cs
  GVFS/GVFS.Platform.Windows/WindowsFileSystemVirtualizer.cs
  GVFS/GVFS.UnitTests/Virtualization/FileSystemCallbacksTests.cs
  GVFS/GVFS.Virtualization/Background/FileSystemTask.cs
  GVFS/GVFS.Virtualization/FileSystem/FileSystemVirtualizer.cs
  GVFS/GVFS.Virtualization/FileSystemCallbacks.cs
  MirrorProvider/MirrorProvider.Mac/MacFileSystemVirtualizer.cs
  MirrorProvider/MirrorProvider.Windows/WindowsFileSystemVirtualizer.cs
  ProjFS.Mac/PrjFSKext/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSKext/PrjFSKext/VirtualizationRoots.hpp
  ProjFS.Mac/PrjFSKext/public/Message.h
  ProjFS.Mac/PrjFSLib.Mac.Managed/CallbackDelegates.cs
  ProjFS.Mac/PrjFSLib.Mac.Managed/NotificationType.cs
  ProjFS.Mac/PrjFSLib.Mac.Managed/VirtualizationInstance.cs
  ProjFS.Mac/PrjFSLib/PrjFSLib.cpp
  ProjFS.Mac/PrjFSLib/PrjFSLib.h
Labels: Mac: kernel extension, Mac: user mode, bug

#213 Add Mac specific FileBasedLock implementation
  GVFS/GVFS.Common/FileBasedLock.cs
  GVFS/GVFS.Common/GVFSPlatform.cs
  GVFS/GVFS.Common/LocalCacheResolver.cs
  GVFS/GVFS.Common/Prefetch/CommitPrefetcher.cs
  GVFS/GVFS.Platform.Mac/MacFileBasedLock.cs
  GVFS/GVFS.Platform.Mac/MacFileSystem.cs
  GVFS/GVFS.Platform.Mac/MacPlatform.cs
  GVFS/GVFS.Platform.Windows/GVFS.Platform.Windows.csproj
  GVFS/GVFS.Platform.Windows/WindowsFileBasedLock.cs
  GVFS/GVFS.Platform.Windows/WindowsPlatform.cs
  GVFS/GVFS.UnitTests.Windows/GVFS.UnitTests.Windows.csproj
  GVFS/GVFS.UnitTests.Windows/Windows/WindowsFileBasedLockTests.cs
  GVFS/GVFS.UnitTests/Mock/Common/MockFileBasedLock.cs
  GVFS/GVFS.UnitTests/Mock/Common/MockPlatform.cs
  GVFS/GVFS.Virtualization/FileSystemCallbacks.cs
  ProjFS.Mac/PrjFSLib/PrjFSLib.cpp
Labels: Mac: user mode
