Repository microsoft/VFSForGit, pull requests merged in 2018-09, with the labels that each got.

#239 Mac: Support projection changes that add new files and delete folder
  GVFS/GVFS.Common/FileBasedCollection.cs
  GVFS/GVFS.Common/FileSystem/IKernelDriver.cs
  GVFS/GVFS.Common/PlaceholderListDatabase.cs
  GVFS/GVFS.Common/RepoMetadata.cs
  GVFS/GVFS.FunctionalTests.Windows/Windows/Tests/DiskLayoutUpgradeTests.cs
  GVFS/GVFS.FunctionalTests/Categories.cs
  GVFS/GVFS.FunctionalTests/Program.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/MultithreadedReadWriteTests.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/PrefetchVerbTests.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/PrefetchVerbWithoutSharedCacheTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/CheckoutTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/DeleteEmptyFolderTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/EnumerationMergeTest.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/GitCommandsTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/GitRepoTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/ResetHardTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/ResetSoftTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/UpdateRefTests.cs
  GVFS/GVFS.FunctionalTests/Tests/MultiEnlistmentTests/SharedCacheTests.cs
  GVFS/GVFS.FunctionalTests/Tools/GVFSHelpers.cs
  GVFS/GVFS.FunctionalTests/Tools/TestConstants.cs
  GVFS/GVFS.Platform.Mac/MacFileSystemVirtualizer.cs
  GVFS/GVFS.Platform.Mac/ProjFSKext.cs
  GVFS/GVFS.Platform.Windows/DiskLayoutUpgrades/DiskLayout16to17Upgrade_FolderPlaceholderValues.cs
  GVFS/GVFS.Platform.Windows/DiskLayoutUpgrades/DiskLayout9to10Upgrade_BackgroundAndPlaceholderListToFileBased.cs
  GVFS/GVFS.Platform.Windows/DiskLayoutUpgrades/WindowsDiskLayoutUpgradeData.cs
  GVFS/GVFS.Platform.Windows/GVFS.Platform.Windows.csproj
  GVFS/GVFS.Platform.Windows/ProjFSFilter.cs
  GVFS/GVFS.Platform.Windows/WindowsFileSystemVirtualizer.cs
  GVFS/GVFS.Tests/Should/EnumerableShouldExtensions.cs
  GVFS/GVFS.UnitTests/Common/GitStatusCacheTests.cs
  GVFS/GVFS.UnitTests/Common/PlaceholderDatabaseTests.cs
  GVFS/GVFS.UnitTests/Mock/Virtualization/FileSystem/MockFileSystemVirtualizer.cs
  GVFS/GVFS.UnitTests/Mock/Virtualization/Projection/MockGitIndexProjection.cs
  GVFS/GVFS.UnitTests/Platform.Mac/MacFileSystemVirtualizerTests.cs
  GVFS/GVFS.Virtualization/FileSystem/FileSystemVirtualizer.cs
  GVFS/GVFS.Virtualization/FileSystemCallbacks.cs
  GVFS/GVFS.Virtualization/Projection/GitIndexProjection.cs
  ProjFS.Mac/PrjFSKext/PrjFSKext/VirtualizationRoots.cpp
  ProjFS.Mac/PrjFSLib/PrjFSLib.cpp
Labels: Mac: user mode

#260 Don't update ModifiedPaths.dat for hard links created outside of repo
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerTestCase/ModifiedPathsTests.cs
  GVFS/GVFS.Virtualization/FileSystem/FileSystemVirtualizer.cs
Labels: bug

#267 Mac: Prevent deletes of the index by non-git processes and enable related functional tests
  GVFS/GVFS.FunctionalTests/FileSystemRunners/BashRunner.cs
  GVFS/GVFS.FunctionalTests/FileSystemRunners/PowerShellRunner.cs
  GVFS/GVFS.FunctionalTests/FileSystemRunners/SystemIORunner.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/BasicFileSystemTests.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/GVFSLockTests.cs
  GVFS/GVFS.Platform.Mac/MacFileSystemVirtualizer.cs
  GVFS/GVFS.Platform.Windows/WindowsFileSystemVirtualizer.cs
Labels: Mac: user mode

#270 Mac: Fix missing files due to auth cache
  GVFS/GVFS.FunctionalTests/Categories.cs
  GVFS/GVFS.FunctionalTests/Program.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/MultithreadedReadWriteTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/CheckoutTests.cs
  ProjFS.Mac/PrjFSKext/PrjFSKext/VirtualizationRoots.cpp
Labels: Mac: kernel extension

#272 Recursively expand directories before delete and enable folder rename functional tests
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/MoveRenameFolderTests.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/WorkingDirectoryTests.cs
  ProjFS.Mac/PrjFSKext/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSKext/public/Message.h
  ProjFS.Mac/PrjFSLib/PrjFSLib.cpp
Labels: Mac: kernel extension, Mac: user mode
