Repository microsoft/VFSForGit, pull requests merged in 2019-04, with the labels that each got.

#988 Mac kext: Replaces use of OSAtomic with standard C11 atomic operations
  ProjFS.Mac/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSKext/Locks.cpp
  ProjFS.Mac/PrjFSKext/Locks.hpp
  ProjFS.Mac/PrjFSKext/PerformanceTracing.cpp
  ProjFS.Mac/PrjFSKext/PrjFSService.cpp
  ProjFS.Mac/PrjFSKext/ProviderMessaging.cpp
  ProjFS.Mac/PrjFSKext/VirtualizationRoots.cpp
  ProjFS.Mac/PrjFSKext/kernel-header-wrappers/stdatomic.h
Labels: mac-kernel-extension, macOS

#1001 Test reliability issue fix
  Scripts/UninstallGVFS.bat
Labels: platform: windows, type: test-reliability

#997 Added Code Coverage to build
  ProjFS.Mac/Scripts/Build.sh
Labels: affects: engineering, affects: tests, platform: macOS

#1006 Add additional diagnostics to GitStatusAfterRenameFileIntoRepo functional test
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/GitMoveRenameTests.cs
Labels: type: test-reliability

#1008 Mac uninstaller launchd issue
  GVFS/GVFS.Installer.Mac/uninstall_vfsforgit.sh
Labels: platform: macOS

#1009 Remove Code Coverage Exclusion for ShouldIgnoreVnodeType
  ProjFS.Mac/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/Scripts/Build.sh
Labels: affects: tests

#984 Mac ProjFS: Moves all relative path calculations to user space.
  ProjFS.Mac/PrjFSKext/ProviderMessaging.cpp
  ProjFS.Mac/PrjFSKext/VirtualizationRoots.cpp
  ProjFS.Mac/PrjFSKext/VirtualizationRoots.hpp
  ProjFS.Mac/PrjFSKext/public/PrjFSCommon.h
  ProjFS.Mac/PrjFSLib/PrjFSLib.cpp
Labels: domain: kext, domain: user-mode, platform: macOS

#1010 Improve WriteWithoutClose \ CreateFileWithoutClose Stability
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/StatusTests.cs
Labels: type: test-reliability

#1018 Mac: Check the return value of stat in PrjFS_DeleteFile
  ProjFS.Mac/PrjFSLib/PrjFSLib.cpp
Labels: affects: correctness, affects: live-site, affects: reliability, affects: tests, platform: macOS

#1016 Test Coverage for UseMainForkIfNamedStream
  ProjFS.Mac/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSKext/KauthHandlerTestable.hpp
  ProjFS.Mac/PrjFSKextTests/KauthHandlerTests.mm
  ProjFS.Mac/PrjFSKextTests/MockVnodeAndMount.cpp
  ProjFS.Mac/PrjFSKextTests/MockVnodeAndMount.hpp
  ProjFS.Mac/Scripts/Build.sh
Labels: affects: tests, domain: kext, platform: macOS

#1004 Test reliability issue #852
  GVFS/GVFS.Common/ProductUpgraderInfo.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/GVFSUpgradeReminderTests.cs
Labels: platform: windows, type: test-reliability

#715 Mac: vnode cache
  .gitignore
  ProjFS.Mac/PrjFS.xcodeproj/project.pbxproj
  ProjFS.Mac/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSKext/KauthHandlerTestable.hpp
  ProjFS.Mac/PrjFSKext/PerformanceTracing.hpp
  ProjFS.Mac/PrjFSKext/VirtualizationRoots.cpp
  ProjFS.Mac/PrjFSKext/VirtualizationRootsTestable.hpp
  ProjFS.Mac/PrjFSKext/VnodeCache.cpp
  ProjFS.Mac/PrjFSKext/VnodeCache.hpp
  ProjFS.Mac/PrjFSKext/VnodeCachePrivate.hpp
  ProjFS.Mac/PrjFSKext/VnodeCacheTestable.hpp
  ProjFS.Mac/PrjFSKext/VnodeUtilities.cpp
  ProjFS.Mac/PrjFSKext/public/PrjFSPerfCounter.h
  ProjFS.Mac/PrjFSKextTests/HandleOperationTests.mm
  ProjFS.Mac/PrjFSKextTests/KauthHandlerTests.mm
  ProjFS.Mac/PrjFSKextTests/KextLogMock.cpp
  ProjFS.Mac/PrjFSKextTests/KextLogMock.h
  ProjFS.Mac/PrjFSKextTests/KextMockUtilities.hpp
  ProjFS.Mac/PrjFSKextTests/VnodeCacheEntriesWrapper.hpp
  ProjFS.Mac/PrjFSKextTests/VnodeCacheTests.mm
  ProjFS.Mac/PrjFSLib/prjfs-log/kext-perf-tracing.cpp
  ProjFS.Mac/Scripts/Build.sh
Labels: domain: kext, platform: macOS, priority: mac-next

#999 use "which" to locate git installation
  GVFS/GVFS.Platform.POSIX/POSIXGitInstallation.cs
Labels: platform: linux, platform: macOS

#1017 POSIX: Change default location of .gvfsCache folder from /.gvfsCache to ~/.gvfsCache
  GVFS/GVFS.Common/GVFSConstants.cs
  GVFS/GVFS.Common/GVFSPlatform.cs
  GVFS/GVFS.Common/LocalCacheResolver.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/CloneTests.cs
  GVFS/GVFS.Platform.POSIX/POSIXPlatform.cs
  GVFS/GVFS.Platform.Windows/WindowsPlatform.cs
  GVFS/GVFS.UnitTests/Mock/Common/MockPlatform.cs
  GVFS/GVFS/CommandLine/CloneVerb.cs
  GVFS/GVFS/CommandLine/DiagnoseVerb.cs
Labels: affects: polish, platform: linux, platform: macOS

#1014 Check the projection for the folder before attempting to delete
  GVFS/GVFS.Virtualization/Projection/GitIndexProjection.cs
Labels: affects: performance, domain: user-mode, platform: macOS, platform: windows, type: enhancement

#1030 Add more time for disposal
  GVFS/GVFS.UnitTests/Common/LibGit2RepoInvokerTests.cs
Labels: type: test-reliability

#885 Updates for new ProjFS API
  GVFS/GVFS.Build/ProjFS.props
  GVFS/GVFS.FunctionalTests/FileSystemRunners/BashRunner.cs
  GVFS/GVFS.Installer.Windows/GVFS.Installer.Windows.csproj
  GVFS/GVFS.Installer.Windows/Setup.iss
  GVFS/GVFS.Installer.Windows/packages.config
  GVFS/GVFS.NativeTests/GVFS.NativeTests.vcxproj
  GVFS/GVFS.Platform.Mac/MacFileSystemVirtualizer.cs
  GVFS/GVFS.Platform.Windows/ActiveEnumeration.cs
  GVFS/GVFS.Platform.Windows/DiskLayoutUpgrades/DiskLayout12to13Upgrade_FolderPlaceholder.cs
  GVFS/GVFS.Platform.Windows/GVFS.Platform.Windows.csproj
  GVFS/GVFS.Platform.Windows/HResultExtensions.cs
  GVFS/GVFS.Platform.Windows/ProjFSFilter.cs
  GVFS/GVFS.Platform.Windows/WindowsFileSystemVirtualizer.cs
  GVFS/GVFS.Platform.Windows/packages.config
  GVFS/GVFS.UnitTests.Windows/GVFS.UnitTests.Windows.csproj
  GVFS/GVFS.UnitTests.Windows/Windows/Mock/MockVirtualizationInstance.cs
  GVFS/GVFS.UnitTests.Windows/Windows/Mock/MockWriteBuffer.cs
  GVFS/GVFS.UnitTests.Windows/Windows/Virtualization/ActiveEnumerationTests.cs
  GVFS/GVFS.UnitTests.Windows/Windows/Virtualization/PatternMatcherTests.cs
  GVFS/GVFS.UnitTests.Windows/Windows/Virtualization/WindowsFileSystemVirtualizerTests.cs
  GVFS/GVFS.UnitTests.Windows/packages.config
  GVFS/GVFS.UnitTests/Mock/Virtualization/FileSystem/MockFileSystemVirtualizer.cs
  GVFS/GVFS.Virtualization/FileSystem/FileSystemVirtualizer.cs
  GVFS/GVFS.Virtualization/Projection/GitIndexProjection.cs
  GVFS/ProjectedFSLib.NativeBinaries.props
  MirrorProvider/MirrorProvider.Windows/ActiveEnumeration.cs
  MirrorProvider/MirrorProvider.Windows/MirrorProvider.Windows.csproj
  MirrorProvider/MirrorProvider.Windows/WindowsFileSystemVirtualizer.cs
  MirrorProvider/MirrorProvider.Windows/packages.config
Labels: platform: windows

#1038 Close directory fds when walking directory hierarchy in PrjFSLib
  ProjFS.Mac/PrjFSLib/PrjFSLib.cpp
Labels: platform: macOS, type: bug

#1015 Test Coverage for ProcesswasSpawnedByRegularUser
  ProjFS.Mac/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSKext/KauthHandlerTestable.hpp
  ProjFS.Mac/PrjFSKextTests/HandleOperationTests.mm
  ProjFS.Mac/PrjFSKextTests/KauthHandlerTests.mm
  ProjFS.Mac/PrjFSKextTests/MockProc.cpp
  ProjFS.Mac/PrjFSKextTests/MockProc.hpp
  ProjFS.Mac/Scripts/Build.sh
Labels: affects: tests, domain: kext, platform: macOS

#998 Service Mac repo-registry & IPC
  GVFS/GVFS.Common/Enlistment.cs
  GVFS/GVFS.Common/GVFSConstants.cs
  GVFS/GVFS.Common/GVFSPlatform.cs
  GVFS/GVFS.Common/LocalGVFSConfig.cs
  GVFS/GVFS.Common/Paths.Shared.cs
  GVFS/GVFS.Common/ProductUpgraderInfo.Shared.cs
  GVFS/GVFS.Common/ProductUpgraderInfo.cs
  GVFS/GVFS.FunctionalTests/Tools/GVFSServiceProcess.cs
  GVFS/GVFS.Hooks/GVFS.Hooks.Mac.csproj
  GVFS/GVFS.Hooks/HooksPlatform/GVFSHooksPlatform.Mac.cs
  GVFS/GVFS.Hooks/HooksPlatform/GVFSHooksPlatform.POSIX.cs
  GVFS/GVFS.Hooks/HooksPlatform/GVFSHooksPlatform.Windows.cs
  GVFS/GVFS.Hooks/Program.cs
  GVFS/GVFS.Platform.Mac/MacPlatform.Shared.cs
  GVFS/GVFS.Platform.Mac/MacPlatform.cs
  GVFS/GVFS.Platform.POSIX/POSIXPlatform.cs
  GVFS/GVFS.Platform.Windows/WindowsPlatform.Shared.cs
  GVFS/GVFS.Platform.Windows/WindowsPlatform.cs
  GVFS/GVFS.Service/GVFS.Service.Mac.csproj
  GVFS/GVFS.Service/GVFS.Service.Windows.csproj
  GVFS/GVFS.Service/GVFSMountProcess.Mac.cs
  GVFS/GVFS.Service/GVFSMountProcess.Windows.cs
  GVFS/GVFS.Service/GVFSService.Mac.cs
  GVFS/GVFS.Service/GVFSService.Windows.cs
  GVFS/GVFS.Service/Handlers/GetActiveRepoListHandler.cs
  GVFS/GVFS.Service/Handlers/NotificationHandler.Mac.cs
  GVFS/GVFS.Service/Handlers/NotificationHandler.Windows.cs
  GVFS/GVFS.Service/Handlers/RequestHandler.Windows.cs
  GVFS/GVFS.Service/Handlers/RequestHandler.cs
  GVFS/GVFS.Service/Program.Mac.cs
  GVFS/GVFS.Service/Program.Windows.cs
  GVFS/GVFS.Service/RepoRegistry.cs
  GVFS/GVFS.UnitTests/Common/ProductUpgraderInfoTests.cs
  GVFS/GVFS.UnitTests/Mock/Common/MockPlatform.cs
  GVFS/GVFS/CommandLine/DiagnoseVerb.cs
  GVFS/GVFS/CommandLine/LogVerb.cs
  GVFS/GVFS/CommandLine/MountVerb.cs
  GVFS/GVFS/CommandLine/UnmountVerb.cs
Labels: platform: macOS

#1049 Fixing failure in full FT
  GVFS/GVFS.Service/GVFSService.Windows.cs
Labels: platform: windows, type: test-reliability

#1026 Track tombstones so that we know when DeleteFile needs to be called
  GVFS/GVFS.Common/PlaceholderListDatabase.cs
  GVFS/GVFS.FunctionalTests.Windows/GVFS.FunctionalTests.Windows.csproj
  GVFS/GVFS.FunctionalTests.Windows/Windows/Tests/DiskLayoutUpgradeTests.cs
  GVFS/GVFS.FunctionalTests.Windows/Windows/Tests/WindowsTombstoneTests.cs
  GVFS/GVFS.FunctionalTests.Windows/Windows/Tests/WindowsUpdatePlaceholderTests.cs
  GVFS/GVFS.FunctionalTests/Tests/DiskLayoutVersionTests.cs
  GVFS/GVFS.FunctionalTests/Tools/TestConstants.cs
  GVFS/GVFS.Platform.Windows/DiskLayoutUpgrades/DiskLayout17to18Upgrade_TombstoneFolderPlaceholders.cs
  GVFS/GVFS.Platform.Windows/DiskLayoutUpgrades/WindowsDiskLayoutUpgradeData.cs
  GVFS/GVFS.Platform.Windows/GVFS.Platform.Windows.csproj
  GVFS/GVFS.Platform.Windows/WindowsFileSystemVirtualizer.cs
  GVFS/GVFS.UnitTests/Common/PlaceholderDatabaseTests.cs
  GVFS/GVFS.Virtualization/FileSystem/FileSystemVirtualizer.cs
  GVFS/GVFS.Virtualization/FileSystemCallbacks.cs
  GVFS/GVFS.Virtualization/Projection/GitIndexProjection.cs
Labels: affects: performance, domain: user-mode, platform: windows, type: enhancement

#1041 Update PrjFSKextLogDaemon to monitor and record vnode cache health
  ProjFS.Mac/PrjFSKext/PrjFSLogUserClient.cpp
  ProjFS.Mac/PrjFSKext/PrjFSLogUserClient.hpp
  ProjFS.Mac/PrjFSKext/VnodeCache.cpp
  ProjFS.Mac/PrjFSKext/VnodeCache.hpp
  ProjFS.Mac/PrjFSKext/VnodeCachePrivate.hpp
  ProjFS.Mac/PrjFSKext/VnodeCacheTestable.hpp
  ProjFS.Mac/PrjFSKext/kernel-header-wrappers/stdatomic.h
  ProjFS.Mac/PrjFSKext/public/ArrayUtils.hpp
  ProjFS.Mac/PrjFSKext/public/PrjFSLogClientShared.h
  ProjFS.Mac/PrjFSKext/public/PrjFSVnodeCacheHealth.h
  ProjFS.Mac/PrjFSKextLogDaemon/PrjFSKextLogDaemon.cpp
  ProjFS.Mac/PrjFSKextTests/VnodeCacheTests.mm
  ProjFS.Mac/PrjFSLib/prjfs-log/kext-perf-tracing.cpp
  ProjFS.Mac/PrjFSLib/prjfs-log/prjfs-log.cpp
  ProjFS.Mac/Scripts/Build.sh
Labels: affects: live-site, domain: kext, platform: macOS

#1055 Fix race condition in MockVirtualizationInstance.CompleteCommand
  GVFS/GVFS.UnitTests.Windows/Windows/Mock/MockVirtualizationInstance.cs
Labels: platform: windows, type: test-reliability

#1060 Fix FastFetch build in VS for Mac
  GVFS/FastFetch/FastFetch.csproj
Labels: platform: macOS

#935 Make `TelemetryDaemonEventListener` and `JsonTracer` thread-safe and async
  GVFS/GVFS.Common/Tracing/DiagnosticConsoleEventListener.cs
  GVFS/GVFS.Common/Tracing/EventListener.cs
  GVFS/GVFS.Common/Tracing/IEventListenerEventSink.cs
  GVFS/GVFS.Common/Tracing/IQueuedPipeStringWriterEventSink.cs
  GVFS/GVFS.Common/Tracing/JsonTracer.cs
  GVFS/GVFS.Common/Tracing/LogFileEventListener.cs
  GVFS/GVFS.Common/Tracing/PrettyConsoleEventListener.cs
  GVFS/GVFS.Common/Tracing/QueuedPipeStringWriter.cs
  GVFS/GVFS.Common/Tracing/TelemetryDaemonEventListener.cs
  GVFS/GVFS.UnitTests/Mock/Common/Tracing/MockListener.cs
  GVFS/GVFS.UnitTests/Tracing/EventListenerTests.cs
  GVFS/GVFS.UnitTests/Tracing/QueuedPipeStringWriterTests.cs
  GVFS/GVFS.UnitTests/Tracing/TelemetryDaemonEventListenerTests.cs
Labels: platform: macOS, platform: windows, type: bug

#1073 GVFS.Service should copy ProjectedFSLib.dll when it's missing and the installed ProjFS version matches the packaged version
  GVFS/GVFS.Common/FileSystem/PhysicalFileSystem.cs
  GVFS/GVFS.Platform.Windows/ProjFSFilter.cs
  GVFS/GVFS.Service/Handlers/EnableAndAttachProjFSHandler.cs
  GVFS/GVFS.UnitTests.Windows/GVFS.UnitTests.Windows.csproj
  GVFS/GVFS.UnitTests.Windows/Windows/Platform/ProjFSFilterTests.cs
  GVFS/GVFS.UnitTests/Mock/FileSystem/MockFileSystem.cs
Labels: affects: reliability, platform: windows
