Repository microsoft/VFSForGit, pull requests merged in 2019-03, with the labels that each got.

#741 Mac PrjFS kext/lib: Use fsid/inode, not vn_getpath()
  ProjFS.Mac/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSKext/VirtualizationRoots.cpp
  ProjFS.Mac/PrjFSKext/VnodeUtilities.cpp
  ProjFS.Mac/PrjFSKext/VnodeUtilities.hpp
  ProjFS.Mac/PrjFSKext/public/Message.h
  ProjFS.Mac/PrjFSKext/public/PrjFSCommon.h
  ProjFS.Mac/PrjFSLib/PrjFSLib.cpp
Labels: mac-kernel-extension, mac-user-mode, macOS, reliability

#751 Mac: Rename reverse-DNS xattr & kext identifiers
  GVFS/GVFS.Common/DiskLayoutUpgrade.cs
  GVFS/GVFS.Common/DiskLayoutVersion.cs
  GVFS/GVFS.Common/GVFSPlatform.cs
  GVFS/GVFS.Common/IDiskLayoutUpgradeData.cs
  GVFS/GVFS.Common/RepoMetadata.cs
  GVFS/GVFS.FunctionalTests.Windows/Windows/Tests/DiskLayoutUpgradeTests.cs
  GVFS/GVFS.FunctionalTests/Tests/DiskLayoutVersionTests.cs
  GVFS/GVFS.Installer.Mac/uninstall_vfsforgit.sh
  GVFS/GVFS.Mount/InProcessMount.cs
  GVFS/GVFS.Platform.Mac/MacDiskLayoutUpgradeData.cs
  GVFS/GVFS.Platform.Mac/ProjFSKext.cs
  GVFS/GVFS.Platform.Windows/DiskLayoutUpgrades/WindowsDiskLayoutUpgradeData.cs
  ProjFS.Mac/PrjFS.xcodeproj/project.pbxproj
  ProjFS.Mac/PrjFSKext/Info.plist
  ProjFS.Mac/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSKext/PrjFSClasses.hpp
  ProjFS.Mac/PrjFSKext/public/PrjFSCommon.h
  ProjFS.Mac/PrjFSKext/public/PrjFSXattrs.h
  ProjFS.Mac/Scripts/LoadPrjFSKext.sh
  ProjFS.Mac/Scripts/UnloadPrjFSKext.sh
Labels: mac-kernel-extension, mac-user-mode, macOS

#875 [upgrade] Test reliability
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/GVFSUpgradeReminderTests.cs
  GVFS/GVFS.FunctionalTests/Tools/GVFSProcess.cs
Labels: test-reliability

#886 Mac kext: Don't try to message offline providers, fixes missing root assert
  ProjFS.Mac/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSKext/VirtualizationRoots.cpp
  ProjFS.Mac/PrjFSKext/public/PrjFSPerfCounter.h
  ProjFS.Mac/PrjFSLib/prjfs-log/kext-perf-tracing.cpp
Labels: bug, mac-kernel-extension, macOS

#884 Adding Distribution.xml & installation-check
  GVFS/GVFS.Installer.Mac/CreateMacInstaller.sh
  GVFS/GVFS.Installer.Mac/scripts/Distribution.xml
  GVFS/GVFS.Installer.Mac/scripts/preinstall
Labels: macOS

#879 Add contributing guidelines to VFSForGit repo
  CONTRIBUTING.md
Labels: engineering

#901 [releases/shipped] Use a thread-safe collection for the failed listeners in JsonTracer
  GVFS/GVFS.Common/Tracing/JsonTracer.cs
Labels: bug, macOS, windows

#907 [master] Use a thread-safe collection for the failed listeners in JsonTracer
  GVFS/GVFS.Common/Tracing/JsonTracer.cs
Labels: bug, macOS, port-from-release-branch, windows

#839 Mac kext: Expanded test infrastructure, added virtualization root unit tests
  ProjFS.Mac/PrjFS.xcodeproj/project.pbxproj
  ProjFS.Mac/PrjFS.xcodeproj/xcshareddata/xcschemes/Build All.xcscheme
  ProjFS.Mac/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSKext/KauthHandlerTestable.hpp
  ProjFS.Mac/PrjFSKext/Memory.hpp
  ProjFS.Mac/PrjFSKext/PrjFSProviderUserClient.cpp
  ProjFS.Mac/PrjFSKext/PrjFSProviderUserClient.hpp
  ProjFS.Mac/PrjFSKext/PrjFSProviderUserClientPrivate.hpp
  ProjFS.Mac/PrjFSKext/PrjFSService.cpp
  ProjFS.Mac/PrjFSKext/VirtualizationRoots.cpp
  ProjFS.Mac/PrjFSKext/VirtualizationRootsPrivate.hpp
  ProjFS.Mac/PrjFSKext/VirtualizationRootsTestable.hpp
  ProjFS.Mac/PrjFSKext/kernel-header-wrappers/mount.h
  ProjFS.Mac/PrjFSKext/kernel-header-wrappers/vnode.h
  ProjFS.Mac/PrjFSKext/public/FsidInode.h
  ProjFS.Mac/PrjFSKextTests/KauthHandlerTests.mm
  ProjFS.Mac/PrjFSKextTests/KextLogMock.cpp
  ProjFS.Mac/PrjFSKextTests/KextLogMock.h
  ProjFS.Mac/PrjFSKextTests/KextMockUtilities.cpp
  ProjFS.Mac/PrjFSKextTests/KextMockUtilities.hpp
  ProjFS.Mac/PrjFSKextTests/MockVnodeAndMount.cpp
  ProjFS.Mac/PrjFSKextTests/MockVnodeAndMount.hpp
  ProjFS.Mac/PrjFSKextTests/TestLocks.cpp
  ProjFS.Mac/PrjFSKextTests/TestMemory.cpp
  ProjFS.Mac/PrjFSKextTests/VirtualizationRootsTests.mm
Labels: mac-kernel-extension, macOS

#887 Mac PrjFS: Adds static verification for perf counter name initialization
  ProjFS.Mac/PrjFSLib/prjfs-log/kext-perf-tracing.cpp
Labels: macOS

#905 [upgrade] Upgrade Functional Test failure fix
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/GVFSUpgradeReminderTests.cs
  GVFS/GVFS.FunctionalTests/Tools/GVFSProcess.cs
Labels: test-reliability

#804 Remove isMountComplete check
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/MountTests.cs
  GVFS/GVFS.Platform.Mac/MacFileSystemVirtualizer.cs
  GVFS/GVFS.Platform.Windows/WindowsFileSystemVirtualizer.cs
  GVFS/GVFS.UnitTests/Virtualization/FileSystemCallbacksTests.cs
  GVFS/GVFS.Virtualization/FileSystemCallbacks.cs
Labels: macOS, windows

#909 Mac kext: Move provider messaging to separate source file
  ProjFS.Mac/PrjFS.xcodeproj/project.pbxproj
  ProjFS.Mac/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSKext/KauthHandler.hpp
  ProjFS.Mac/PrjFSKext/Locks.cpp
  ProjFS.Mac/PrjFSKext/Locks.hpp
  ProjFS.Mac/PrjFSKext/PrjFSProviderUserClient.cpp
  ProjFS.Mac/PrjFSKext/ProviderMessaging.cpp
  ProjFS.Mac/PrjFSKext/ProviderMessaging.hpp
  ProjFS.Mac/PrjFSKext/VirtualizationRoots.cpp
Labels: mac-kernel-extension, macOS

#798 Mac PrjFS: Countermeasures for deadlocks with Antivirus software
  ProjFS.Mac/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSKext/VirtualizationRoots.cpp
  ProjFS.Mac/PrjFSKext/VirtualizationRoots.hpp
  ProjFS.Mac/PrjFSKext/VirtualizationRootsPrivate.hpp
  ProjFS.Mac/PrjFSKext/public/PrjFSPerfCounter.h
  ProjFS.Mac/PrjFSLib/PrjFSLib.cpp
  ProjFS.Mac/PrjFSLib/prjfs-log/kext-perf-tracing.cpp
Labels: WIP, macOS

#908 Mac kext: Unit tests for VirtualizationRoot_FindForVnode
  ProjFS.Mac/PrjFSKext/VirtualizationRoots.cpp
  ProjFS.Mac/PrjFSKext/VirtualizationRootsTestable.hpp
  ProjFS.Mac/PrjFSKextTests/KauthHandlerTests.mm
  ProjFS.Mac/PrjFSKextTests/MockVnodeAndMount.cpp
  ProjFS.Mac/PrjFSKextTests/MockVnodeAndMount.hpp
  ProjFS.Mac/PrjFSKextTests/TestLocks.cpp
  ProjFS.Mac/PrjFSKextTests/VirtualizationRootsTests.mm
Labels: WIP, macOS

#791 Mac: Add PreConvertToFull when Write Access is requested
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/GitRepoTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/StatusTests.cs
  GVFS/GVFS.Platform.Mac/MacFileSystemVirtualizer.cs
  GVFS/GVFS.Platform.Windows/WindowsFileSystemVirtualizer.cs
  GVFS/GVFS.Virtualization/FileSystem/FileSystemVirtualizer.cs
  MirrorProvider/MirrorProvider.Mac/MacFileSystemVirtualizer.cs
  MirrorProvider/MirrorProvider.Windows/WindowsFileSystemVirtualizer.cs
  ProjFS.Mac/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSKext/public/Message.h
  ProjFS.Mac/PrjFSKext/public/PrjFSPerfCounter.h
  ProjFS.Mac/PrjFSLib.Mac.Managed/VirtualizationInstance.cs
  ProjFS.Mac/PrjFSLib/PrjFSLib.cpp
  ProjFS.Mac/PrjFSLib/prjfs-log/kext-perf-tracing.cpp
Labels: bug, mac-kernel-extension, mac-user-mode, macOS

#944 Update GVFS.Service to log why repos were determined to be invalid
  GVFS/GVFS.Common/DiskLayoutUpgrade.cs
  GVFS/GVFS.Common/GVFSEnlistment.cs
  GVFS/GVFS.Mount/InProcessMountVerb.cs
  GVFS/GVFS.Platform.Windows/DiskLayoutUpgrades/DiskLayout12_0To12_1Upgrade_StatusAheadBehind.cs
  GVFS/GVFS.Service/Handlers/GetActiveRepoListHandler.cs
  GVFS/GVFS/CommandLine/GVFSVerb.cs
  GVFS/GVFS/CommandLine/RepairVerb.cs
Labels: live-site, windows

#965 [Port from releases/shipped] Turn off Commit Graph Verify
  GVFS/GVFS.Common/Maintenance/PostFetchStep.cs
  GVFS/GVFS.UnitTests/Maintenance/PostFetchStepTests.cs
Labels: macOS, port-from-release-branch, windows

#964 Log when a path can't be looked up from fsid
  GVFS/GVFS.Platform.Mac/MacFileSystemVirtualizer.cs
  MirrorProvider/MirrorProvider.Mac/MacFileSystemVirtualizer.cs
  ProjFS.Mac/PrjFSLib.Mac.Managed/CallbackDelegates.cs
  ProjFS.Mac/PrjFSLib.Mac.Managed/Interop/Callbacks.cs
  ProjFS.Mac/PrjFSLib.Mac.Managed/VirtualizationInstance.cs
  ProjFS.Mac/PrjFSLib/PrjFSLib.cpp
  ProjFS.Mac/PrjFSLib/PrjFSLib.h
Labels: bug, dogfood, mac-user-mode, macOS

#967 Fix EventMetadata construction in TryDownloadPrefetchPacks
  GVFS/GVFS.Common/Git/GitObjects.cs
Labels: bug, dogfood, macOS, windows

#969 Fix Mac Profiling build
  ProjFS.Mac/PrjFS.xcodeproj/project.pbxproj
  ProjFS.Mac/PrjFSKextTests/MockPerfTracing.cpp
  ProjFS.Mac/PrjFSKextTests/MockPerfTracing.hpp
Labels: mac-kernel-extension, macOS, test-reliability

#962 Fix GVFS.FunctionalTests.Windows so that they can be run from the IDE
  GVFS/GVFS.FunctionalTests.Windows/GVFS.FunctionalTests.Windows.csproj
Labels: test-reliability, windows

#963 Service porting to Mac
  GVFS.sln
  GVFS/GVFS.FunctionalTests.Windows/GVFS.FunctionalTests.Windows.csproj
  GVFS/GVFS.FunctionalTests/GVFS.FunctionalTests.csproj
  GVFS/GVFS.Installer.Windows/Setup.iss
  GVFS/GVFS.Service/GVFS.Service.Mac.csproj
  GVFS/GVFS.Service/GVFS.Service.Windows.csproj
  GVFS/GVFS.Service/Handlers/GetActiveRepoListHandler.cs
  GVFS/GVFS.Service/Mac/GVFSService.cs
  GVFS/GVFS.Service/Mac/Program.cs
  GVFS/GVFS.SignFiles/GVFS.SignFiles.csproj
  GVFS/GVFS.UnitTests.Windows/GVFS.UnitTests.Windows.csproj
Labels: macOS, port-to-netcore

#961 Pass session id through to mount process for correlation with git trace2
  GVFS/GVFS.Common/GVFSLock.Shared.cs
  GVFS/GVFS.Common/GVFSLock.cs
  GVFS/GVFS.Common/NamedPipes/LockNamedPipeMessages.cs
  GVFS/GVFS.Common/Tracing/ITracer.cs
  GVFS/GVFS.Common/Tracing/JsonTracer.cs
  GVFS/GVFS.Common/Tracing/TelemetryDaemonEventListener.cs
  GVFS/GVFS.FunctionalTests.LockHolder/AcquireGVFSLock.cs
  GVFS/GVFS.Hooks/Program.cs
  GVFS/GVFS.Mount/InProcessMount.cs
  GVFS/GVFS.UnitTests/Common/GVFSLockTests.cs
  GVFS/GVFS.UnitTests/Common/GitStatusCacheTests.cs
  GVFS/GVFS.UnitTests/Common/NamedPipeTests.cs
  GVFS/GVFS.UnitTests/Mock/Common/MockTracer.cs
  GVFS/GVFS.UnitTests/Tracing/TelemetryDaemonEventListenerTests.cs
  GVFS/GVFS.UnitTests/Virtualization/FileSystemCallbacksTests.cs
  GVFS/GVFS/CommandLine/UnmountVerb.cs
Labels: enhancement, live-site

#972 Install GVFS.Service as a Launch Agent on Mac
  GVFS/GVFS.Installer.Mac/CreateMacInstaller.sh
  GVFS/GVFS.Installer.Mac/scripts/Distribution.xml
  GVFS/GVFS.Installer.Mac/scripts/postinstall
  GVFS/GVFS.Installer.Mac/scripts/preinstall
  GVFS/GVFS.Installer.Mac/uninstall_vfsforgit.sh
  GVFS/GVFS.Service/Mac/org.vfsforgit.service.plist
Labels: macOS
