Repository microsoft/VFSForGit, pull requests merged in 2019-08, with the labels that each got.

#1388 [WIP] Proper error message for 'git gui' on Mac
  GVFS/GVFS.Hooks/HooksPlatform/GVFSHooksPlatform.Mac.cs
  GVFS/GVFS.Hooks/HooksPlatform/GVFSHooksPlatform.Windows.cs
  GVFS/GVFS.Hooks/Program.cs
Labels: platform: macOS

#1398 Mac: Don't download file sizes as part of OnEnumerateDirectory
  GVFS/GVFS.Platform.Mac/MacFileSystemVirtualizer.cs
  GVFS/GVFS.UnitTests/Mock/Mac/MockVirtualizationInstance.cs
  GVFS/GVFS.Virtualization/Projection/GitIndexProjection.cs
  MirrorProvider/MirrorProvider.Mac/MacFileSystemVirtualizer.cs
  ProjFS.Mac/PrjFSLib.Mac.Managed/Interop/PrjFSLib.cs
  ProjFS.Mac/PrjFSLib.Mac.Managed/VirtualizationInstance.cs
  ProjFS.Mac/PrjFSLib/PrjFSLib.cpp
  ProjFS.Mac/PrjFSLib/PrjFSLib.h
Labels: affects: performance, platform: macOS, pri1

#1399 Add SetupFixture for teardown to get the test results at the end
  GVFS/GVFS.FunctionalTests/AssemblyAttributes.cs
  GVFS/GVFS.FunctionalTests/GlobalSetup.cs
  GVFS/GVFS.FunctionalTests/Program.cs
Labels: affects: tests, domain: user-mode, platform: linux, platform: macOS, platform: windows, pr: refactoring

#1384 [Mac] Don't allow cloning or mounting on case sensitive volumes
  GVFS/GVFS.Common/FileSystem/IPlatformFileSystem.cs
  GVFS/GVFS.Common/GVFSEnlistment.cs
  GVFS/GVFS.Platform.Mac/MacFileSystem.cs
  GVFS/GVFS.Platform.POSIX/POSIXFileSystem.cs
  GVFS/GVFS.Platform.Windows/WindowsFileSystem.cs
  GVFS/GVFS.UnitTests/Mock/FileSystem/MockPlatformFileSystem.cs
  GVFS/GVFS/CommandLine/CloneVerb.cs
  GVFS/GVFS/CommandLine/MountVerb.cs
Labels: platform: macOS

#1392 Mac: Add version information to kext and PrjFS logging daemon
  ProjFS.Mac/PrjFS.xcodeproj/project.pbxproj
  ProjFS.Mac/PrjFSKext/Info.plist
  ProjFS.Mac/PrjFSKextLogDaemon/Info.plist
  ProjFS.Mac/Scripts/Build.sh
  ProjFS.Mac/Scripts/GeneratePrjFSXCConfig.sh
Labels: affects: live-site, platform: macOS

#1351 No longer set PATH for git process and remove use of gvfs hooks root
  GVFS/FastFetch/GitEnlistment.cs
  GVFS/GVFS.Common/DiskLayoutUpgrades/DiskLayoutUpgrade.cs
  GVFS/GVFS.Common/Enlistment.cs
  GVFS/GVFS.Common/GVFSEnlistment.cs
  GVFS/GVFS.Common/GVFSPlatform.cs
  GVFS/GVFS.Common/Git/GitProcess.cs
  GVFS/GVFS.Mount/InProcessMountVerb.cs
  GVFS/GVFS.PerfProfiling/ProfilingEnvironment.cs
  GVFS/GVFS.Platform.Mac/MacPlatform.cs
  GVFS/GVFS.Platform.POSIX/POSIXPlatform.cs
  GVFS/GVFS.Platform.Windows/WindowsPlatform.cs
  GVFS/GVFS.Service/Handlers/GetActiveRepoListHandler.cs
  GVFS/GVFS.UnitTests/Common/GVFSEnlistmentTests.cs
  GVFS/GVFS.UnitTests/Common/GitStatusCacheTests.cs
  GVFS/GVFS.UnitTests/Git/GVFSGitObjectsTests.cs
  GVFS/GVFS.UnitTests/Mock/Common/MockGVFSEnlistment.cs
  GVFS/GVFS.UnitTests/Mock/Common/MockPlatform.cs
  GVFS/GVFS.UnitTests/Virtual/CommonRepoSetup.cs
  GVFS/GVFS.Upgrader/UpgradeOrchestrator.cs
  GVFS/GVFS/CommandLine/CloneVerb.cs
  GVFS/GVFS/CommandLine/GVFSVerb.cs
  GVFS/GVFS/CommandLine/RepairVerb.cs
  GVFS/GVFS/CommandLine/UpgradeVerb.cs
  GVFS/GVFS/RepairJobs/GitConfigRepairJob.cs
Labels: domain: user-mode, platform: linux, platform: macOS, platform: windows, pr: refactoring

#1363 Handle corrupt objects on Mac
  GVFS/GVFS.FunctionalTests/Categories.cs
  GVFS/GVFS.FunctionalTests/Program.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/WorkingDirectoryTests.cs
  GVFS/GVFS.Platform.Mac/MacFileSystemVirtualizer.cs
  GVFS/GVFS.Virtualization/Background/FileSystemTask.cs
  GVFS/GVFS.Virtualization/FileSystemCallbacks.cs
Labels: platform: macOS

#1330 Add sparse verb for allowing projection of only specific folders
  GVFS/GVFS.Common/Database/GVFSDatabase.cs
  GVFS/GVFS.Common/Database/ISparseCollection.cs
  GVFS/GVFS.Common/Database/SparseTable.cs
  GVFS/GVFS.Common/GVFSConstants.cs
  GVFS/GVFS.FunctionalTests/GVFS.FunctionalTests.csproj
  GVFS/GVFS.FunctionalTests/Program.cs
  GVFS/GVFS.FunctionalTests/Settings.cs
  GVFS/GVFS.FunctionalTests/Should/FileSystemShouldExtensions.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/SparseTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/AddStageTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/CheckoutTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/CherryPickConflictTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/CreatePlaceholderTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/DeleteEmptyFolderTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/EnumerationMergeTest.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/GitCommandsTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/GitRepoTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/HashObjectTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/MergeConflictTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/RebaseConflictTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/RebaseTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/ResetHardTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/ResetMixedTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/ResetSoftTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/RmTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/StatusTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/UpdateIndexTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/UpdateRefTests.cs
  GVFS/GVFS.FunctionalTests/Tools/GVFSProcess.cs
  GVFS/GVFS.FunctionalTests/Tools/GitProcess.cs
  GVFS/GVFS.Mount/InProcessMount.cs
  GVFS/GVFS.PerfProfiling/ProfilingEnvironment.cs
  GVFS/GVFS.Platform.Mac/MacFileSystemVirtualizer.cs
  GVFS/GVFS.Platform.Windows/WindowsFileSystemVirtualizer.cs
  GVFS/GVFS.Tests/DataSources.cs
  GVFS/GVFS.Tests/Should/EnumerableShouldExtensions.cs
  GVFS/GVFS.UnitTests.Windows/Windows/Virtualization/WindowsFileSystemVirtualizerTests.cs
  GVFS/GVFS.UnitTests/Common/Database/GVFSDatabaseTests.cs
  GVFS/GVFS.UnitTests/Common/Database/PlaceholderTableTests.cs
  GVFS/GVFS.UnitTests/Common/Database/SparseTableTests.cs
  GVFS/GVFS.UnitTests/Common/Database/TableTests.cs
  GVFS/GVFS.UnitTests/Mock/FileSystem/MockFileSystemCallbacks.cs
  GVFS/GVFS.UnitTests/Mock/Virtualization/Projection/MockGitIndexProjection.cs
  GVFS/GVFS.UnitTests/Platform.Mac/MacFileSystemVirtualizerTests.cs
  GVFS/GVFS.UnitTests/Virtualization/FileSystemCallbacksTests.cs
  GVFS/GVFS.UnitTests/Virtualization/Projection/SortedFolderEntriesTests.cs
  GVFS/GVFS.Virtualization/FileSystemCallbacks.cs
  GVFS/GVFS.Virtualization/Projection/GitIndexProjection.FolderData.cs
  GVFS/GVFS.Virtualization/Projection/GitIndexProjection.SortedFolderEntries.cs
  GVFS/GVFS.Virtualization/Projection/GitIndexProjection.SparseFolder.cs
  GVFS/GVFS.Virtualization/Projection/GitIndexProjection.cs
  GVFS/GVFS/CommandLine/LogVerb.cs
  GVFS/GVFS/CommandLine/RepairVerb.cs
  GVFS/GVFS/CommandLine/SparseVerb.cs
  GVFS/GVFS/GVFS.Windows.csproj
  GVFS/GVFS/Program.cs
  GVFS/GVFS/RepairJobs/RepairJob.cs
  GVFS/GVFS/RepairJobs/VFSForGitDatabaseRepairJob.cs
Labels: domain: user-mode, platform: macOS, platform: windows, type: enhancement

#1403 Mac: Do not lookup or download file sizes when updating placeholders
  GVFS/GVFS.Common/FileSystem/IKernelDriver.cs
  GVFS/GVFS.Platform.Mac/MacFileSystemVirtualizer.cs
  GVFS/GVFS.Platform.Mac/ProjFSKext.cs
  GVFS/GVFS.Platform.Windows/ProjFSFilter.cs
  GVFS/GVFS.UnitTests/Mock/Mac/MockVirtualizationInstance.cs
  GVFS/GVFS.Virtualization/Projection/GitIndexProjection.cs
  ProjFS.Mac/PrjFSLib.Mac.Managed/Interop/PrjFSLib.cs
  ProjFS.Mac/PrjFSLib.Mac.Managed/VirtualizationInstance.cs
  ProjFS.Mac/PrjFSLib/PrjFSLib.cpp
  ProjFS.Mac/PrjFSLib/PrjFSLib.h
Labels: affects: performance, platform: macOS, pri1

#1415 [MASTER] Update Git to include octopus merge bugfix
  GVFS/GVFS.Build/GVFS.props
Labels: affects: correctness, affects: performance, domain: git, type: bug

#1414 [HOTFIX] Update Git to include octopus merge bugfix
  GVFS/GVFS.Build/GVFS.props
Labels: affects: correctness, affects: performance, blocking, domain: git, priority: dogfood, type: bug

#1280 Mac kext: Drop lock for allocating virtualization root array memory
  ProjFS.Mac/PrjFSKext/VirtualizationRoots.cpp
  ProjFS.Mac/PrjFSKext/VirtualizationRootsPrivate.hpp
  ProjFS.Mac/PrjFSKext/VirtualizationRootsTestable.hpp
  ProjFS.Mac/PrjFSKextTests/ShouldHandleFileOpTests.mm
  ProjFS.Mac/PrjFSKextTests/VirtualizationRootsTests.mm
  ProjFS.Mac/PrjFSKextTests/VnodeCacheTests.mm
  ProjFS.Mac/Scripts/Build.sh
Labels: affects: correctness, affects: tests, domain: kext, platform: macOS

#1208 Mac ProjFS: Deny I/O on offline roots, with exceptions, part 1
  GVFS/GVFS.Common/FileSystem/IKernelDriver.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerTestCase/RepairTests.cs
  GVFS/GVFS.Platform.Mac/ProjFSKext.cs
  GVFS/GVFS.Platform.Windows/ProjFSFilter.cs
  GVFS/GVFS/Program.cs
  ProjFS.Mac/PrjFS.xcodeproj/project.pbxproj
  ProjFS.Mac/PrjFSKext/ArrayUtilities.hpp
  ProjFS.Mac/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSKext/KextLog.hpp
  ProjFS.Mac/PrjFSKext/PrjFSClasses.hpp
  ProjFS.Mac/PrjFSKext/PrjFSOfflineIOUserClient.cpp
  ProjFS.Mac/PrjFSKext/PrjFSOfflineIOUserClient.hpp
  ProjFS.Mac/PrjFSKext/PrjFSService.cpp
  ProjFS.Mac/PrjFSKext/ProviderMessaging.cpp
  ProjFS.Mac/PrjFSKext/VirtualizationRoots.cpp
  ProjFS.Mac/PrjFSKext/VirtualizationRoots.hpp
  ProjFS.Mac/PrjFSKext/public/PrjFSCommon.h
  ProjFS.Mac/PrjFSKextTests/HandleOperationTests.mm
  ProjFS.Mac/PrjFSKextTests/VirtualizationRootsTests.mm
  ProjFS.Mac/PrjFSLib.Mac.Managed/Interop/PrjFSLib.cs
  ProjFS.Mac/PrjFSLib.Mac.Managed/OfflineIO.cs
  ProjFS.Mac/PrjFSLib/PrjFSLib.cpp
  ProjFS.Mac/PrjFSLib/PrjFSLib.h
  ProjFS.Mac/Scripts/Build.sh
Labels: affects: correctness, domain: kext, platform: macOS

#1420 [M153 Hotfix] Update Git to revert slow commit-graph write
  GVFS/GVFS.Build/GVFS.props
Labels: affects: performance, blocking, domain: git

#1422 [M155] Update Git, drop MIDX writes
  GVFS/GVFS.Build/GVFS.props
  GVFS/GVFS.Common/Maintenance/PackfileMaintenanceStep.cs
  GVFS/GVFS.Common/Maintenance/PostFetchStep.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/PrefetchVerbTests.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/PrefetchVerbWithoutSharedCacheTests.cs
  GVFS/GVFS.UnitTests/Maintenance/PackfileMaintenanceStepTests.cs
  GVFS/GVFS.UnitTests/Maintenance/PostFetchStepTests.cs
Labels: affects: performance, domain: git

#1407 stop rename over .git/index on Linux without lock
  GVFS/GVFS.Platform.Linux/LinuxFileSystemVirtualizer.cs
Labels: platform: linux

#1421 [master] Update Git, drop MIDX writes
  GVFS/GVFS.Build/GVFS.props
  GVFS/GVFS.Common/Maintenance/PackfileMaintenanceStep.cs
  GVFS/GVFS.Common/Maintenance/PostFetchStep.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/PrefetchVerbTests.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/PrefetchVerbWithoutSharedCacheTests.cs
  GVFS/GVFS.UnitTests/Maintenance/PackfileMaintenanceStepTests.cs
  GVFS/GVFS.UnitTests/Maintenance/PostFetchStepTests.cs
Labels: affects: performance, domain: git

#1416 Mac: Fix and enable remaining dehydrate functional tests
  GVFS/GVFS.FunctionalTests/Categories.cs
  GVFS/GVFS.FunctionalTests/Program.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/DehydrateTests.cs
  GVFS/GVFS.Tests/Should/EnumerableShouldExtensions.cs
Labels: affects: tests, platform: macOS, pri1, pri2

#1431 Add lock around writes to SQLite database tables
  GVFS/GVFS.Common/Database/PlaceholderTable.cs
  GVFS/GVFS.Common/Database/SparseTable.cs
Labels: affects: correctness, affects: mount-reliability, type: bug

#1433 [M155 Hotfix] Add lock around writes to SQLite database tables
  GVFS/GVFS.Common/Database/PlaceholderTable.cs
Labels: affects: correctness, affects: performance, affects: reliability

#1408 Include panic logs for vfs in diagnose
  GVFS/GVFS.Common/GVFSPlatform.cs
  GVFS/GVFS.Platform.Mac/MacPlatform.cs
  GVFS/GVFS.Platform.Mac/ProjFSKext.cs
  GVFS/GVFS.Platform.POSIX/POSIXPlatform.cs
  GVFS/GVFS.Platform.Windows/WindowsPlatform.cs
  GVFS/GVFS.UnitTests/Mock/Common/MockPlatform.cs
  GVFS/GVFS/CommandLine/DiagnoseVerb.cs
Labels: affects: live-site, platform: macOS

#1436 Allow privileged system service 'amfid' to hydrate
  ProjFS.Mac/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSKext/KauthHandlerTestable.hpp
  ProjFS.Mac/PrjFSKextTests/HandleFileOpOperationTests.mm
  ProjFS.Mac/PrjFSKextTests/HandleOperationTests.mm
  ProjFS.Mac/PrjFSKextTests/KauthHandlerTests.mm
  ProjFS.Mac/PrjFSKextTests/MockProc.cpp
  ProjFS.Mac/PrjFSKextTests/MockProc.hpp
  ProjFS.Mac/PrjFSKextTests/ShouldHandleFileOpTests.mm
Labels: domain: kext, platform: macOS

#1438 [releases/shipped] Allow privileged system service 'amfid' to hydrate
  ProjFS.Mac/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSKext/KauthHandlerTestable.hpp
  ProjFS.Mac/PrjFSKextTests/HandleFileOpOperationTests.mm
  ProjFS.Mac/PrjFSKextTests/HandleOperationTests.mm
  ProjFS.Mac/PrjFSKextTests/KauthHandlerTests.mm
  ProjFS.Mac/PrjFSKextTests/MockProc.cpp
  ProjFS.Mac/PrjFSKextTests/MockProc.hpp
  ProjFS.Mac/PrjFSKextTests/ShouldHandleFileOpTests.mm
Labels: domain: kext, platform: macOS

#1449 Don't log errors when MaintenanceSteps fail due to the repo being deleted
  GVFS/GVFS.Common/Git/LibGit2Repo.cs
  GVFS/GVFS.Common/Maintenance/GitMaintenanceQueue.cs
  GVFS/GVFS.Common/Maintenance/GitMaintenanceStep.cs
Labels: affects: live-site, platform: linux, platform: macOS, platform: windows

#1448 [POSIX] Use platform-specific path separators in repair jobs and cache tests
  GVFS/GVFS.FunctionalTests/Tests/MultiEnlistmentTests/SharedCacheTests.cs
  GVFS/GVFS/RepairJobs/GitConfigRepairJob.cs
  GVFS/GVFS/RepairJobs/GitHeadRepairJob.cs
  GVFS/GVFS/RepairJobs/GitIndexRepairJob.cs
Labels: platform: linux, platform: macOS

#1428 add MoveIndexFileFails() functional test
  GVFS/GVFS.FunctionalTests/FileSystemRunners/BashRunner.cs
  GVFS/GVFS.FunctionalTests/FileSystemRunners/CmdRunner.cs
  GVFS/GVFS.FunctionalTests/FileSystemRunners/FileSystemRunner.cs
  GVFS/GVFS.FunctionalTests/FileSystemRunners/PowerShellRunner.cs
  GVFS/GVFS.FunctionalTests/FileSystemRunners/SystemIORunner.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/BasicFileSystemTests.cs
Labels: affects: tests

#1429 Mac ProjFS kext: Deny I/O on offline roots, with exceptions, part 2
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/CheckoutTests.cs
  ProjFS.Mac/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSKext/VirtualizationRoots.cpp
  ProjFS.Mac/PrjFSKextTests/HandleOperationTests.mm
  ProjFS.Mac/PrjFSLib/PrjFSLib.cpp
Labels: domain: kext, platform: macOS, pri1

#1411 [Linux] Convert tests and repair jobs to use backing root
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/MountTests.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerTestCase/LooseObjectStepTests.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerTestCase/RepairTests.cs
  GVFS/GVFS.FunctionalTests/Tests/GitCommands/CheckoutTests.cs
  GVFS/GVFS.FunctionalTests/Tools/GVFSFunctionalTestEnlistment.cs
  GVFS/GVFS/RepairJobs/GitConfigRepairJob.cs
  GVFS/GVFS/RepairJobs/GitHeadRepairJob.cs
Labels: platform: linux

#1456 Auto-unmount repos in pre-install
  GVFS/GVFS.Installer.Mac/scripts/Distribution.xml
  GVFS/GVFS.Installer.Mac/scripts/preinstall
Labels: affects: correctness, platform: macOS, pri1

#1440 Add LogInfo / LogWarning messages to PrjFSLib
  GVFS/GVFS.Platform.Mac/MacFileSystemVirtualizer.cs
  MirrorProvider/MirrorProvider.Mac/MacFileSystemVirtualizer.cs
  ProjFS.Mac/PrjFSLib.Mac.Managed/CallbackDelegates.cs
  ProjFS.Mac/PrjFSLib.Mac.Managed/Interop/Callbacks.cs
  ProjFS.Mac/PrjFSLib.Mac.Managed/VirtualizationInstance.cs
  ProjFS.Mac/PrjFSLib/PrjFSLib.cpp
  ProjFS.Mac/PrjFSLib/PrjFSLib.h
  ProjFS.Mac/Scripts/Build.sh
Labels: domain: kext, platform: macOS

#1289 Actionable notifications
  GVFS/GVFS.Common/NamedPipes/NamedPipeMessages.cs
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/IPC/VFSForGitNotification.h
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/IPC/VFSForGitNotification.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/Info.plist
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/UI/VFSAppDelegate.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/UI/VFSNotificationDisplay.h
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/UI/VFSNotificationDisplay.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/Utilities/VFSCommandRunner.h
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/Utilities/VFSCommandRunner.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/VFSForGit.xcodeproj/project.pbxproj
Labels: affects: polish, platform: macOS

#1445 Check for new Panic Logs where PrjFSKextLogDaemon is started
  ProjFS.Mac/PrjFSKextLogDaemon/PrjFSKextLogDaemon.cpp
Labels: domain: kext, platform: macOS

#1469 Enabling Service verb Functional tests
  GVFS/GVFS.FunctionalTests/Categories.cs
  GVFS/GVFS.FunctionalTests/Program.cs
  GVFS/GVFS.FunctionalTests/Tests/MultiEnlistmentTests/ServiceVerbTests.cs
  GVFS/GVFS.FunctionalTests/Tests/MultiEnlistmentTests/SharedCacheTests.cs
Labels: pri1

#1473 Mac: Add mdworker_shared to the IsFileSystemCrawler block list
  ProjFS.Mac/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSKextTests/KauthHandlerTests.mm
Labels: affects: performance, domain: kext, platform: macOS, pri1

#1452 Correct Upgrade Messages for Mac
  GVFS/GVFS.Common/GVFSConstants.cs
  GVFS/GVFS.Common/GVFSPlatform.cs
  GVFS/GVFS.Common/InstallerPreRunChecker.cs
  GVFS/GVFS.Common/ProductUpgrader.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/GVFSUpgradeReminderTests.cs
  GVFS/GVFS.Hooks/HooksPlatform/GVFSHooksPlatform.Mac.cs
  GVFS/GVFS.Hooks/HooksPlatform/GVFSHooksPlatform.Windows.cs
  GVFS/GVFS.Hooks/Program.cs
  GVFS/GVFS.Platform.Mac/MacPlatform.Shared.cs
  GVFS/GVFS.Platform.Mac/MacPlatform.cs
  GVFS/GVFS.Platform.Windows/WindowsPlatform.Shared.cs
  GVFS/GVFS.Platform.Windows/WindowsPlatform.cs
  GVFS/GVFS.UnitTests.Windows/Windows/Upgrader/UpgradeVerbTests.cs
  GVFS/GVFS.UnitTests/Mock/Common/MockPlatform.cs
  GVFS/GVFS.Upgrader/UpgradeOrchestrator.cs
  GVFS/GVFS/CommandLine/UpgradeVerb.cs
Labels: affects: correctness, affects: polish, platform: macOS

#1483 Mac ProjFS: shadowed variable bugfixes
  ProjFS.Mac/PrjFS.xcodeproj/project.pbxproj
  ProjFS.Mac/PrjFSKextTests/HandleFileOpOperationTests.mm
  ProjFS.Mac/PrjFSKextTests/KauthHandlerTests.mm
  ProjFS.Mac/PrjFSKextTests/MockVnodeAndMount.cpp
  ProjFS.Mac/PrjFSLib/PrjFSLib.cpp
  ProjFS.Mac/PrjFSLib/prjfs-log/prjfs-log.cpp
Labels: affects: correctness, platform: macOS

#1482 Mac ProjFS: Don't follow symlinks in kext & userlib, logging improvements
  ProjFS.Mac/PrjFS.xcodeproj/project.pbxproj
  ProjFS.Mac/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSKext/KextLog.hpp
  ProjFS.Mac/PrjFSKext/VirtualizationRoots.cpp
  ProjFS.Mac/PrjFSKext/VnodeUtilities.cpp
  ProjFS.Mac/PrjFSKext/VnodeUtilities.hpp
  ProjFS.Mac/PrjFSKextTests/MockVnodeAndMount.cpp
  ProjFS.Mac/PrjFSKextTests/MockVnodeAndMount.hpp
  ProjFS.Mac/PrjFSKextTests/VnodeUtilitiesTests.mm
  ProjFS.Mac/PrjFSLib/PrjFSLib.cpp
Labels: affects: correctness, affects: reliability, platform: macOS

#1466 Better installer logs
  GVFS/GVFS.Common/GVFSConstants.cs
  GVFS/GVFS.Common/GVFSEnlistment.cs
  GVFS/GVFS.Common/GVFSPlatform.cs
  GVFS/GVFS.Common/NuGetUpgrade/NuGetUpgrader.cs
  GVFS/GVFS.Installer.Mac/scripts/postinstall
  GVFS/GVFS.Notifications/VFSForGit.Mac/org.vfsforgit.usernotification.plist
  GVFS/GVFS.Platform.Mac/MacPlatform.cs
  GVFS/GVFS.Platform.Windows/WindowsPlatform.cs
  GVFS/GVFS.Service/Mac/org.vfsforgit.service.plist
  GVFS/GVFS.UnitTests/Mock/Common/MockPlatform.cs
  GVFS/GVFS.Upgrader/UpgradeOrchestrator.cs
Labels: pri1
