Repository microsoft/VFSForGit, pull requests merged in 2019-06, with the labels that each got.

#1228 Upgrader: copy entire application directory
  GVFS/GVFS.Common/FileSystem/PhysicalFileSystem.cs
  GVFS/GVFS.Common/ProductUpgrader.cs
Labels: affects: engineering, domain: upgrade, platform: macOS, platform: windows

#1235 Handle KAUTH_FILEOP_CLOSE_MODIFIED as a bit field
  ProjFS.Mac/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSKextTests/HandleFileOpOperationTests.mm
Labels: affects: correctness, platform: macOS

#1184 Mac: Support Hardlinks
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/GitFilesTests.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerTestCase/ModifiedPathsTests.cs
  GVFS/GVFS.Platform.Mac/MacFileSystemVirtualizer.cs
  GVFS/GVFS.UnitTests/Virtualization/FileSystemCallbacksTests.cs
  GVFS/GVFS.Virtualization/Background/FileSystemTask.cs
  GVFS/GVFS.Virtualization/FileSystem/FileSystemVirtualizer.cs
  GVFS/GVFS.Virtualization/FileSystemCallbacks.cs
  MirrorProvider/MirrorProvider.Mac/MacFileSystemVirtualizer.cs
  ProjFS.Mac/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSLib.Mac.Managed/CallbackDelegates.cs
  ProjFS.Mac/PrjFSLib.Mac.Managed/VirtualizationInstance.cs
  ProjFS.Mac/PrjFSLib/PrjFSLib.cpp
  ProjFS.Mac/PrjFSLib/PrjFSLib.h
Labels: affects: correctness, platform: macOS

#1199 Move ShouldHandleFileOpEvent unit tests into their own class
  ProjFS.Mac/PrjFS.xcodeproj/project.pbxproj
  ProjFS.Mac/PrjFSKextTests/KauthHandlerTests.mm
  ProjFS.Mac/PrjFSKextTests/ShouldHandleFileOpTests.mm
Labels: affects: tests, domain: kext, platform: macOS, pr: refactoring

#1215 Remove Placeholder after calling PreDelete
  ProjFS.Mac/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSKextTests/HandleOperationTests.mm
  ProjFS.Mac/PrjFSLib/PrjFSLib.cpp
Labels: affects: correctness, domain: kext, platform: macOS

#1207 Mac kext: Fix for potential vnode_put() race in VirtualizationRoot_RegisterProviderForPath
  ProjFS.Mac/PrjFSKext/VirtualizationRoots.cpp
  ProjFS.Mac/PrjFSKextTests/ShouldHandleFileOpTests.mm
  ProjFS.Mac/PrjFSKextTests/VirtualizationRootsTests.mm
Labels: affects: reliability, domain: kext, platform: macOS

#1225 Upgrader - platform specific directory creation
  GVFS/GVFS.Common/GVFSPlatform.cs
  GVFS/GVFS.Common/NuGetUpgrade/NuGetFeed.cs
  GVFS/GVFS.Common/NuGetUpgrade/NuGetUpgrader.cs
  GVFS/GVFS.Common/NuGetUpgrade/OrgNuGetUpgrader.cs
  GVFS/GVFS.Common/ProductUpgrader.cs
  GVFS/GVFS.Common/ProductUpgraderPlatformStrategy.cs
  GVFS/GVFS.Platform.Mac/MacPlatform.cs
  GVFS/GVFS.Platform.Mac/MacProductUpgraderPlatformStrategy.cs
  GVFS/GVFS.Platform.POSIX/POSIXPlatform.cs
  GVFS/GVFS.Platform.Windows/GVFS.Platform.Windows.csproj
  GVFS/GVFS.Platform.Windows/WindowsPlatform.cs
  GVFS/GVFS.Platform.Windows/WindowsProductUpgraderPlatformStrategy.cs
  GVFS/GVFS.UnitTests.Windows/GVFS.UnitTests.Windows.csproj
  GVFS/GVFS.UnitTests.Windows/Windows/Upgrader/WindowsNuGetUpgraderTests.cs
  GVFS/GVFS.UnitTests/Common/NuGetUpgrade/NuGetUpgraderTests.cs
  GVFS/GVFS.UnitTests/Common/NuGetUpgrade/OrgNuGetUpgraderTests.cs
  GVFS/GVFS.UnitTests/Mock/Common/MockPlatform.cs
  GVFS/GVFS.UnitTests/Mock/Common/MockProductUpgraderPlatformStrategy.cs
  GVFS/GVFS.UnitTests/Upgrader/UpgradeOrchestratorTests.cs
  GVFS/GVFS.UnitTests/Upgrader/UpgradeOrchestratorWithGitHubUpgraderTests.cs
  GVFS/GVFS.Upgrader/GVFS.Upgrader.csproj
  GVFS/GVFS.Upgrader/MacUpgradeOrchestrator.cs
  GVFS/GVFS.Upgrader/Program.cs
  GVFS/GVFS.Upgrader/UpgradeOptions.cs
  GVFS/GVFS.Upgrader/UpgradeOrchestrator.cs
  GVFS/GVFS.Upgrader/UpgradeOrchestratorFactory.cs
  GVFS/GVFS.Upgrader/WindowsUpgradeOrchestrator.cs
  GVFS/GVFS/CommandLine/UpgradeVerb.cs
Labels: domain: upgrade, platform: macOS, platform: windows

#1176 Platform native notifications PR_2
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/IPC/GVFSTask.h
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/IPC/GVFSTask.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/UI/AboutWindowController.h
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/UI/AboutWindowController.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/UI/AppDelegate.h
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/UI/AppDelegate.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/UI/Base.lproj/MainMenu.xib
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/UI/StatusBarItem.h
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/UI/StatusBarItem.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/UI/UserNotification.h
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/UI/VFSAboutWindowController.h
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/UI/VFSAboutWindowController.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/UI/VFSAboutWindowController.xib
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/UI/VFSAppDelegate.h
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/UI/VFSAppDelegate.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/UI/VFSStatusBarItem.h
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/UI/VFSStatusBarItem.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/UI/VFSUserNotification.h
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/UI/VFSUserNotification.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/Utilities/VFSProcessRunner.h
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/Utilities/VFSProcessRunner.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/Utilities/VFSProductInfoFetcher.h
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/Utilities/VFSProductInfoFetcher.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/main.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/VFSForGit.UnitTests/AboutWindowControllerTests.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/VFSForGit.UnitTests/Mocks/VFSMockAboutWindowController.h
  GVFS/GVFS.Notifications/VFSForGit.Mac/VFSForGit.UnitTests/Mocks/VFSMockAboutWindowController.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/VFSForGit.UnitTests/Mocks/VFSMockNotificationCenter.h
  GVFS/GVFS.Notifications/VFSForGit.Mac/VFSForGit.UnitTests/Mocks/VFSMockNotificationCenter.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/VFSForGit.UnitTests/Mocks/VFSMockProductInfoFetcher.h
  GVFS/GVFS.Notifications/VFSForGit.Mac/VFSForGit.UnitTests/Mocks/VFSMockProductInfoFetcher.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/VFSForGit.UnitTests/StatusBarItemTests.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/VFSForGit.UnitTests/UserNotificationTests.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/VFSForGit.UnitTests/VFSAboutWindowControllerTests.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/VFSForGit.UnitTests/VFSStatusBarItemTests.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/VFSForGit.xcodeproj/project.pbxproj
  Scripts/Mac/BuildGVFSForMac.sh
Labels: affects: polish, platform: macOS

#1257 Mac: Bash Functional Test Hang
  GVFS/GVFS.FunctionalTests/FileSystemRunners/BashRunner.cs
  GVFS/GVFS.FunctionalTests/Tools/GVFSFunctionalTestEnlistment.cs
Labels: affects: correctness, domain: user-mode, platform: macOS, priority: mac-next, type: test-reliability

#1270 VFSForGit installer non-relocatable
  GVFS/GVFS.Installer.Mac/CreateMacInstaller.sh
  GVFS/GVFS.Installer.Mac/vfsforgit_components.plist
Labels: platform: macOS

#1267 Add logging to clone/mount paths
  GVFS/GVFS.Common/GVFSEnlistment.cs
  GVFS/GVFS.Platform.POSIX/ProcessLauncher.cs
  GVFS/GVFS.Service/GVFSMountProcess.Mac.cs
  GVFS/GVFS.Service/GVFSMountProcess.Windows.cs
  GVFS/GVFS.UnitTests/Service/Mac/MacServiceTests.cs
  GVFS/GVFS/CommandLine/CloneVerb.cs
  GVFS/GVFS/CommandLine/MountVerb.cs
Labels: platform: linux, platform: macOS, platform: windows, type: test-reliability

#1272 [Port to M153] Add logging to clone/mount paths
  GVFS/GVFS.Common/GVFSEnlistment.cs
  GVFS/GVFS.Platform.POSIX/ProcessLauncher.cs
  GVFS/GVFS.Service/GVFSMountProcess.Mac.cs
  GVFS/GVFS.Service/GVFSMountProcess.Windows.cs
  GVFS/GVFS.UnitTests/Service/Mac/MacServiceTests.cs
  GVFS/GVFS/CommandLine/CloneVerb.cs
  GVFS/GVFS/CommandLine/MountVerb.cs
Labels: platform: linux, platform: macOS, platform: windows, type: test-reliability

#1259 Update Git to v2.22.0
  GVFS/GVFS.Build/GVFS.props
  GVFS/GVFS.Common/GVFSConstants.cs
Labels: domain: git, platform: linux, platform: macOS, platform: windows, type: enhancement

#1266 [M153] Update Git to v2.22.0.vfs.1
  GVFS/GVFS.Build/GVFS.props
  GVFS/GVFS.Common/GVFSConstants.cs
Labels: domain: git, platform: linux, platform: macOS, platform: windows, type: enhancement

#1273 [milestones/M153] POSIX: Switch to Process.Start for launching GVFS.Mount
  GVFS/GVFS.Common/GVFSConstants.cs
  GVFS/GVFS.Common/GVFSPlatform.cs
  GVFS/GVFS.FunctionalTests/Tests/TestResultsHelper.cs
  GVFS/GVFS.Mount/InProcessMountVerb.cs
  GVFS/GVFS.Platform.POSIX/NetCoreMethods.cs
  GVFS/GVFS.Platform.POSIX/POSIXFileSystem.cs
  GVFS/GVFS.Platform.POSIX/POSIXPlatform.cs
  GVFS/GVFS.Platform.POSIX/ProcessLauncher.cs
  GVFS/GVFS.Platform.Windows/WindowsPlatform.cs
  GVFS/GVFS.UnitTests/Mock/Common/MockPlatform.cs
  GVFS/GVFS/CommandLine/MountVerb.cs
Labels: affects: reliability, platform: linux, platform: macOS, type: test-reliability

#1276 [master] POSIX: Switch to Process.Start for launching GVFS.Mount
  GVFS/GVFS.Common/GVFSConstants.cs
  GVFS/GVFS.Common/GVFSPlatform.cs
  GVFS/GVFS.FunctionalTests/Tests/TestResultsHelper.cs
  GVFS/GVFS.Mount/InProcessMountVerb.cs
  GVFS/GVFS.Platform.POSIX/NetCoreMethods.cs
  GVFS/GVFS.Platform.POSIX/POSIXFileSystem.cs
  GVFS/GVFS.Platform.POSIX/POSIXPlatform.cs
  GVFS/GVFS.Platform.POSIX/ProcessLauncher.cs
  GVFS/GVFS.Platform.Windows/WindowsPlatform.cs
  GVFS/GVFS.UnitTests/Mock/Common/MockPlatform.cs
  GVFS/GVFS/CommandLine/MountVerb.cs
Labels: affects: reliability, platform: linux, platform: macOS, pr: port-from-release-branch, type: test-reliability

#1230 Upgrader: add command install action
  GVFS/GVFS.Common/NuGetUpgrade/InstallActionInfo.cs
  GVFS/GVFS.Common/NuGetUpgrade/NuGetUpgrader.cs
  GVFS/GVFS.UnitTests/Common/InstallManifestTests.cs
  GVFS/GVFS.UnitTests/Common/NuGetUpgrade/NuGetUpgraderTests.cs
Labels: domain: upgrade, type: enhancement

#1193 Mac ProjFS: Only hydrate/expand when deleting due to rename
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/GitFilesTests.cs
  ProjFS.Mac/PrjFS.xcodeproj/project.pbxproj
  ProjFS.Mac/PrjFSKext/ArrayUtilities.hpp
  ProjFS.Mac/PrjFSKext/KauthHandler.cpp
  ProjFS.Mac/PrjFSKext/KauthHandlerPrivate.hpp
  ProjFS.Mac/PrjFSKext/KauthHandlerTestable.hpp
  ProjFS.Mac/PrjFSKext/Locks.cpp
  ProjFS.Mac/PrjFSKext/Locks.hpp
  ProjFS.Mac/PrjFSKext/Message_Kernel.cpp
  ProjFS.Mac/PrjFSKext/ProviderMessaging.cpp
  ProjFS.Mac/PrjFSKext/public/Message.h
  ProjFS.Mac/PrjFSKext/public/PrjFSCommon.h
  ProjFS.Mac/PrjFSKext/public/PrjFSPerfCounter.h
  ProjFS.Mac/PrjFSKextTests/HandleFileOpOperationTests.mm
  ProjFS.Mac/PrjFSKextTests/HandleOperationTests.mm
  ProjFS.Mac/PrjFSKextTests/KauthHandlerTests.mm
  ProjFS.Mac/PrjFSKextTests/MockProc.cpp
  ProjFS.Mac/PrjFSKextTests/MockProc.hpp
  ProjFS.Mac/PrjFSKextTests/TestLocks.cpp
  ProjFS.Mac/PrjFSKextTests/TestMemory.cpp
  ProjFS.Mac/PrjFSLib.Mac.Managed/NotificationType.cs
  ProjFS.Mac/PrjFSLib.Mac.Managed/VirtualizationInstance.cs
  ProjFS.Mac/PrjFSLib/PrjFSLib.cpp
  ProjFS.Mac/PrjFSLib/PrjFSLib.h
  ProjFS.Mac/PrjFSLib/PrjFSUser.cpp
  ProjFS.Mac/PrjFSLib/prjfs-log/kext-perf-tracing.cpp
  ProjFS.Mac/Scripts/Build.sh
Labels: affects: correctness, affects: performance, domain: kext, platform: macOS

#1202 Platform native notifications PR_3
  GVFS/GVFS.Common/NamedPipes/NamedPipeMessages.cs
  GVFS/GVFS.Installer.Mac/CreateMacInstaller.sh
  GVFS/GVFS.Installer.Mac/scripts/postinstall
  GVFS/GVFS.Installer.Mac/scripts/preinstall
  GVFS/GVFS.Installer.Mac/uninstall_vfsforgit.sh
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/IPC/VFSForGitNotification.h
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/IPC/VFSForGitNotification.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/IPC/VFSMessageListener.h
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/IPC/VFSMessageListener.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/IPC/VFSMessageParser.h
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/IPC/VFSMessageParser.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/UI/VFSAppDelegate.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/UI/VFSNotificationDisplay.h
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/UI/VFSNotificationDisplay.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/UI/VFSUserNotification.h
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/UI/VFSUserNotification.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/Utilities/VFSNotificationErrors.h
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/Utilities/VFSNotificationErrors.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/StatusMenuItem/Utilities/VFSProcessRunner.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/VFSForGit.UnitTests/VFSForGitNotificationTests.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/VFSForGit.UnitTests/VFSMessageParserTests.m
  GVFS/GVFS.Notifications/VFSForGit.Mac/VFSForGit.xcodeproj/project.pbxproj
  GVFS/GVFS.Notifications/VFSForGit.Mac/org.vfsforgit.usernotification.plist
  GVFS/GVFS.Service/GVFS.Service.Mac.csproj
  GVFS/GVFS.Service/GVFS.Service.Windows.csproj
  GVFS/GVFS.Service/GVFSService.Windows.cs
  GVFS/GVFS.Service/Handlers/INotificationHandler.cs
  GVFS/GVFS.Service/Handlers/NotificationHandler.Mac.cs
  GVFS/GVFS.Service/Handlers/NotificationHandler.Windows.cs
  GVFS/GVFS.Service/Program.Mac.cs
  GVFS/GVFS.Service/RepoRegistry.cs
  GVFS/GVFS.UnitTests/Service/Mac/MacServiceTests.cs
  GVFS/GVFS.UnitTests/Service/RepoRegistryTests.cs
  Scripts/Mac/BuildGVFSForMac.sh
Labels: affects: polish

#1224 ProductUpgrader: platform specific upgrade directories
  GVFS/GVFS.Common/GVFSPlatform.cs
  GVFS/GVFS.Common/GitHubUpgrader.cs
  GVFS/GVFS.Common/LocalGVFSConfig.cs
  GVFS/GVFS.Common/ProductUpgrader.cs
  GVFS/GVFS.Common/ProductUpgraderInfo.Shared.cs
  GVFS/GVFS.Common/ProductUpgraderInfo.cs
  GVFS/GVFS.Hooks/HooksPlatform/GVFSHooksPlatform.Mac.cs
  GVFS/GVFS.Hooks/HooksPlatform/GVFSHooksPlatform.Windows.cs
  GVFS/GVFS.Hooks/Program.cs
  GVFS/GVFS.Platform.Mac/MacPlatform.Shared.cs
  GVFS/GVFS.Platform.Mac/MacPlatform.cs
  GVFS/GVFS.Platform.Mac/MacProductUpgraderPlatformStrategy.cs
  GVFS/GVFS.Platform.Windows/GVFS.Platform.Windows.csproj
  GVFS/GVFS.Platform.Windows/WindowsPlatform.Shared.cs
  GVFS/GVFS.Platform.Windows/WindowsPlatform.cs
  GVFS/GVFS.Platform.Windows/WindowsProductUpgraderPlatformStrategy.cs
  GVFS/GVFS.Service/GVFSService.Windows.cs
  GVFS/GVFS.UnitTests.Windows/Windows/Upgrader/WindowsNuGetUpgraderTests.cs
  GVFS/GVFS.UnitTests/Common/ProductUpgraderInfoTests.cs
  GVFS/GVFS.UnitTests/Common/TryCreateProductUpgraderTests.cs
  GVFS/GVFS.UnitTests/Mock/Common/MockPlatform.cs
  GVFS/GVFS.UnitTests/Mock/MockGitHubUpgrader.cs
  GVFS/GVFS/CommandLine/DiagnoseVerb.cs
  GVFS/GVFS/CommandLine/UpgradeVerb.cs
Labels: domain: upgrade, platform: macOS, platform: windows

#1232 Perform case-sensitive path comparisons on Linux
  GVFS/FastFetch/WorkingTree.cs
  GVFS/GVFS.Common/FileSystem/HooksInstaller.cs
  GVFS/GVFS.Common/GVFSPlatform.cs
  GVFS/GVFS.Common/Maintenance/PackfileMaintenanceStep.cs
  GVFS/GVFS.Common/Maintenance/PrefetchStep.cs
  GVFS/GVFS.Common/RepoMetadata.cs
  GVFS/GVFS.Hooks/Program.cs
  GVFS/GVFS.Platform.Linux/LinuxFileSystemVirtualizer.cs
  GVFS/GVFS.Platform.Linux/LinuxPlatform.cs
  GVFS/GVFS.Platform.Mac/MacPlatform.cs
  GVFS/GVFS.Platform.Windows/WindowsPlatform.cs
  GVFS/GVFS.Service/Linux/GVFSService.cs
  GVFS/GVFS.Service/RepoRegistry.cs
  GVFS/GVFS.UnitTests/Category/CategoryConstants.cs
  GVFS/GVFS.UnitTests/Common/FileBasedDictionaryTests.cs
  GVFS/GVFS.UnitTests/Mock/Common/MockPlatform.cs
  GVFS/GVFS.UnitTests/Mock/FileSystem/MockFileSystem.cs
  GVFS/GVFS.UnitTests/Mock/MockGitHubUpgrader.cs
  GVFS/GVFS.UnitTests/Platform.Linux/LinuxFileSystemVirtualizerTests.cs
  GVFS/GVFS.UnitTests/Prefetch/DiffHelperTests.cs
  GVFS/GVFS.UnitTests/Program.cs
  GVFS/GVFS.UnitTests/Virtualization/FileSystemCallbacksTests.cs
  GVFS/GVFS.Virtualization/Background/FileSystemTaskQueue.cs
  GVFS/GVFS.Virtualization/FileSystem/FileSystemVirtualizer.cs
  GVFS/GVFS.Virtualization/FileSystemCallbacks.cs
  GVFS/GVFS/CommandLine/CloneVerb.cs
  GVFS/GVFS/CommandLine/DehydrateVerb.cs
  GVFS/GVFS/CommandLine/DiagnoseVerb.cs
  GVFS/GVFS/CommandLine/GVFSVerb.cs
  MirrorProvider/MirrorProvider.Linux/LinuxFileSystemVirtualizer.cs
  MirrorProvider/MirrorProvider.Mac/MacFileSystemVirtualizer.cs
  MirrorProvider/MirrorProvider.Windows/WindowsFileSystemVirtualizer.cs
  MirrorProvider/MirrorProvider/FileSystemVirtualizer.cs
Labels: platform: linux

#1281 PrefetchStep: don't send post-fetch request if no new packs
  GVFS/GVFS.Common/Maintenance/PrefetchStep.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/PrefetchVerbTests.cs
  GVFS/GVFS.FunctionalTests/Tools/GVFSFunctionalTestEnlistment.cs
  GVFS/GVFS.FunctionalTests/Tools/GVFSProcess.cs
  GVFS/GVFS/CommandLine/DehydrateVerb.cs
Labels: affects: performance, platform: linux, platform: macOS, platform: windows, type: enhancement

#1291 use correct checkout thread maximum in FastFetch
  GVFS/FastFetch/CheckoutStage.cs
Labels: domain: fastfetch

#1287 use repository relative paths in DiffTreeResult.TargetPath
  GVFS/FastFetch/CheckoutStage.cs
  GVFS/FastFetch/Index.cs
  GVFS/GVFS.Common/Git/DiffTreeResult.cs
  GVFS/GVFS.Common/Prefetch/BlobPrefetcher.cs
  GVFS/GVFS.Common/Prefetch/Git/DiffHelper.cs
  GVFS/GVFS.Common/Prefetch/Pipeline/HydrateFilesStage.cs
  GVFS/GVFS.UnitTests/Prefetch/DiffHelperTests.cs
  GVFS/GVFS.UnitTests/Prefetch/DiffTreeResultTests.cs
  GVFS/GVFS/CommandLine/GVFSVerb.cs
Labels: platform: linux

#1249 GVFS Health Verb Initial Merge
  Documents/AnalyticsToolDesignDocument.md
  Documents/AnalyticsToolDiagram.png
  Documents/FileLifeCycle.png
  GVFS/GVFS.Common/GVFSEnlistmentHealthCalculator.cs
  GVFS/GVFS.Common/Git/GitProcess.cs
  GVFS/GVFS.Common/NamedPipes/NamedPipeMessages.cs
  GVFS/GVFS.Mount/InProcessMount.cs
  GVFS/GVFS.UnitTests/Common/GVFSEnlistmentHealthTests.cs
  GVFS/GVFS/CommandLine/HealthVerb.cs
  GVFS/GVFS/GVFS.Windows.csproj
  GVFS/GVFS/Program.cs
Labels: WIP, type: enhancement

#1288 [Linux] add pre-rename and post-delete Linux events
  GVFS/GVFS.Platform.Linux/LinuxFileSystemVirtualizer.cs
  MirrorProvider/MirrorProvider.Linux/LinuxFileSystemVirtualizer.cs
  ProjFS.Linux/PrjFSLib.Linux.Managed/CallbackDelegates.cs
  ProjFS.Linux/PrjFSLib.Linux.Managed/Interop/ProjFS.Constants.cs
  ProjFS.Linux/PrjFSLib.Linux.Managed/NotificationType.cs
  ProjFS.Linux/PrjFSLib.Linux.Managed/VirtualizationInstance.cs
Labels: platform: linux
