Repository microsoft/VFSForGit, pull requests merged in 2019-10, with the labels that each got.

#1531 [Linux] minor POSIX and path case comparison fixups
  GVFS/GVFS.Common/ModifiedPathsDatabase.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/BasicFileSystemTests.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/DehydrateTests.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/SparseTests.cs
Labels: affects: tests, platform: linux

#1538 IsFileSystemSupported: cleanup test files on Mac
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/CloneTests.cs
  GVFS/GVFS.Platform.Mac/MacFileSystem.cs
Labels: affects: polish, platform: macOS

#1535 [Linux] Use backing root and check min version in dehydrate commands/tests
  GVFS/GVFS.FunctionalTests/Tests/DiskLayoutVersionTests.cs
  GVFS/GVFS.FunctionalTests/Tests/EnlistmentPerFixture/DehydrateTests.cs
  GVFS/GVFS.FunctionalTests/Tools/GVFSHelpers.cs
  GVFS/GVFS/CommandLine/DehydrateVerb.cs
Labels: affects: tests, platform: linux

#1549 HttpRequestor: retry 429 (too many requests) responses
  GVFS/GVFS.Common/Http/HttpRequestor.cs
Labels: affects: reliability, platform: linux, platform: macOS, platform: windows
